<div class="container">
  <div class="user-jumbo">
  <div class="jumbo-user-details">
    <div class="user-avatar-box">
      <%= image_tag (@user.avatar.avatar) %>
      <!-- <%= label(:user, :avatar) %> -->
      <div>
      <!-- <%= file_field :avatar, @user, id: 'user_avatar' %> -->
    </div>
    </div>
    <h3><%= @user.username %></h3>
  </div>
  </div>
  <div class="time-line card">
    <div class="time-line-links u-cf">
      <a href="#"> Timeline</a>
      <a href="#"> About</a>
      <a href="#"> Friends</a>
      <a href="#"> Photos</a>
      <a href="#"> More</a>
    </div>
  </div>
<!-- <%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>  -->

<div class="row">
  <div class="four columns card user-show-experience">
    <%= image_tag 'globe.png', class: 'two columns globe' %>
    <p class="intro six columns ">Introduction
    </p>
    <%= link_to '', edit_user_path(@user), class: 'edit-user four columns' %>
    <div class="u-cf"></div>
    <hr>
    <ul>
      <li class="work">Tidigare Ruby on Rails Developer vid CareerFoundry</li>
      <li class="work">Tidigare Webbutvecklare vid Sponsorhjälpen AB</li>
      <li class="school">Har studerat vid Yonsei Korean Language Institute</li>
      <li class="status">Singel</li>
    </ul>
  </div>
  <div class="eight columns right-field">
    <%= render partial: 'shared/form' %>
    <% @posts.each do |post| %>
      <div class="card">
        <!-- <p><%= link_to 'Show', post %></p>
        <p><%= link_to 'Edit', edit_post_path(post) %></p>
        <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>  -->
        <div class="post-user-info">
          <%= image_tag post.avatar %>
          <div class="small-box"></div>
          <%= post.username %>
          <small class="post-submitted"> Submitted <%= time_ago_in_words(post.created_at) %> Ago </small>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
        </div>

        <div class="post-content">
          <p><%= embed post.content %></p>
        </div>
        <div class="post-image">
          <!-- <img src="http://digitalart.io/wp-content/uploads/2014/03/Armoured-Suit-Sci-fi-Wallpaper.jpg"> -->
          <% if post.image.present? %>
          <%= image_tag (post.image.slider) %>
          <% end %>
        </div>
        <hr>
        <div class="comment-section">
          <a class="like" href="#">Gilla</a>
          <a class="comment" href="#">Kommentera</a>
          <a class="share" href="#">Dela</a>
        </div>
      </div> <!-- end right-field -->
    <% end %>
  </div>
</div> <!-- end row -->
</div> <!-- end container -->
