<div class="container">
  <div class="user-jumbo">
  <div class="jumbo-user-details">
    <%= image_tag current_user.avatar %>
    <h3><%= current_user.username %></h3>
  </div>
  </div>
  <div class="time-line card">
    <div class="time-line-links u-cf">
      <a href="#"> Timeline</a>
      <a href="#"> About</a>
      <a href="#"> Friends</a>
      <a href="#"> Photos</a>
      <a href="#"> More</a>
    </div>
  </div>
  <!-- <%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> -->
</div>
