<nav class="navbar">
  <div class="container">
    <%= link_to 'Fakebook', root_path, class: 'logo three columns' %>
    <div class="search">
      <input type="search" placeholder="Sök efter personer, platser och saker"class="five columns">
      <input type="submit" class="button-primary" value="Go">
    </div>

    <div class="user-edit">
      <%= link_to current_user do %>
        <% if user_signed_in? %>
          <span>
            <%= image_tag (current_user.avatar.mini) %>
            <%= current_user.username %>
          </span>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'login' %>   <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      <% end %>
  </div>
    <div class="user-edit logout">
    <% if user_signed_in? %>
      <span><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
    <% end %>
  </div>

    <!-- <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
    <%= link_to('Login', new_user_session_path) %>
    <% end %> -->
  </div>
</nav>
