<div class="container m-top">
  <div class="eight columns right-field">
    <%= render "posts/form" %>

    <% @posts.each do |post|  %>
      <div class="card animated fadeIn">
      <!-- <p><%= link_to 'Show', post %></p>
      <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
        <div class="post-user-info">
          <%= image_tag (post.avatar.mini) %>
          <%= link_to post.username, user_path(post.user),class: 'username' %>
          <small class="post-submitted"> <%= time_ago_in_words(post.created_at).capitalize %> Ago </small>
          <% if current_user and current_user.id == @post.user_id %>
          <div class="post-edit">
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_post_path(post)%>
          </div>
          <% end %>
        </div>
        <div class="post-content">
            <p><%= embed post.content %></p>
        </div>
        <% if post.image.present? %>
          <div class="post-image">
            <%= image_tag (post.image.slider) %>
          </div>
        <% end %>
      <hr>
      <div class="comment-section">
        <a class="like" href="#">Gilla</a>
        <a class="comment" href="#">Kommentera</a>
        <a class="share" href="#">Dela</a>
      </div>
    </div> <!-- end card -->

    <div class="comments-box">
      <% post.comments.each do |comment| %>
      <p class="comment-img ">  <%= image_tag (current_user.avatar.mini) %> </p>
        <div class="comment-content">
          <span class="comment-text"><%= link_to  comment.user.username, class: "comment-name"%>
            <span><%= comment.content %></span>
          </span>
          <span class="comment-time"> <%= time_ago_in_words(comment.created_at).capitalize %> Ago <%= comment.created_at.strftime("%b %d, %Y") %></span>
        </div>
      <% end %>
      <%= form_for ([post, post.comments.build]) do |f| %>
          <%= f.text_area :content, class: 'comments js-auto-size', id: 'alex2' ,:rows => 1, placeholder: 'Write a comment'  %>
          <%= f.submit "Submit", class: "btn btn-default" %>
      <% end %>
    </div>
  <% end %>

</div> <!-- end right-field -->
  <!-- <div class="sidebar">
    <p>users</p>
  </div> -->
</div>
