<%= form_for @post, html: {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <%= label(:post, :image) %>
    <%= f.file_field :image, value: "placeholder text"  %>
    <hr>
    <div class=" content-area">
      <div class="content-profile-img">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg">
      </div>
      <div class="content-text">
        <%= f.text_area :content, placeholder: "What are you doing right now?" %>
      </div>
      <div class="u-cf"></div>
    </div>
    <hr>
    <div class="actions">
      <%= f.submit class: 'u-pull-right n-m', value: "Send" %>
    </div>
    <div class="u-cf"></div>
  </div>
<% end %>
